.cuckoo {
  background-color: rgb(230, 236, 240);
}

.cuckoo .container {
  margin-top: 0;
  padding: 1em 2em 2em;
  max-width: 580px;
  background-color: #ffffff;
  height: 100vh;
}

.cuckoo .container .row {
  margin-bottom: 0.5em;
}

.container .btn {
  border-radius: 100px;
  font-size: 14px;
  padding: 0.2em 1em;
}

.container .btn-outline-primary:hover {
  background-color: rgb(232, 245, 254);
  color:#007bff;
}
